
/** Theme colors 
*   logo and icons: #ff8700 (orange)
*   text: #363636;
*   header image color: #f7c40d;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: #333;
}